#caja0 {

  height: 80px;
  width: 300px;
  background: #2e86c1;
  border-radius: 10px 10px 10px 10px;
  border: red;
  border:   #d0d3d4 10px solid;
  }
}

*{font-family: sans-serif;}
body {width:507px;  border-width: 2px;}
div {
padding:7px; background-color:  #e74c3c ; width:250px; height:25px; position:absolute; }

#caja1{ border-color:#e74c3c; top: 180px; left: 45px; height: 15px; }

#caja2{  background-color: #ecf0f1;border-color: #ebedef; top: 215px; left:38px; height: 7px; width: 265px}

#caja3{  background-color:  #d5dbdb; border-color: #ebedef; top: 225px; left: 38px; height: 1px; width: 265px;
border-radius: 10px 10px 10px;
}

hr { top: 225px;
  background-color: red;
  height: 10px;
  margin-left: 50%;
  margin-right: 25%
}

#caja4{  background:   #f7f9f9; top: 240px; left: 25px;
  height: 45px;
  width: 300px;
}

#caja5{  background:   #1c2833; top: 300px; left: 50px;
  height: 80px;
  width: 100px;
  border-radius: 50px 50px 50px 50px;
}
#caja6{  background:   #1c2833 ; top: 320px; left: 40px;
  height: 40px;
  width: 20px;
border-radius: 30px 70px 70px 70px;
}
#caja7{  background:   #1c2833; top: 340px; left: 30px;
  height: 15px;
  width: 2px;
}
#caja8{  background:    #f7f9f9; top: 320px; left: 30px;
  height: 11px;
  width: 8px;
  border-radius: 30px 70px 70px 70px;
}
#caja9{  background:    #1c2833; top: 385px; left: 85px;
  height: 5px;
  width: 2px;
}
#caja10{  background:    #1c2833; top: 385px; left: 120px;
  height: 5px;
  width: 2px;
}
